html,
body{
    font-family: 'Roboto', sans-serif;
    
}
.custom-nav{
    background-color: #48314d;
    color: white;
    text-transform: uppercase;
}
.logo h1{
    font-weight: 400;
    margin: 0;
}
.logo span{
    font-weight: 700;
}
.custom-nav .menu > div{
    padding: 25px 0;
    text-align: center;
}
.custom-nav .menu > div:hover{
    cursor: pointer;
}
.custom-nav .menu > div{
    border-right: 1px solid #583f5e;
    font-weight: 200;
}
.info{
    background-image: url(pattern.png);
    padding: 8px 0;
}
.info-icons > div{
    background-color: white;
    padding: 4px 8px;
    height: 35px;
    width: 35px;
    border-radius: 100px;
    display: inline-block;
    -webkit-box-shadow: -1px 1px 0px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: -1px 1px 0px 0px rgba(0,0,0,0.16);
    box-shadow: -1px 1px 0px 0px rgba(0,0,0,0.16);
    margin-left: 5px;
}
.info-icons .wrapper i{
    position: relative;
    left: 4px;
    top: 2px;
}
.info-icons .wrapper2 i{
    position: relative;
    right: 0px;
    left: 2px;
    top: 2px;
}
.info-icons .wrapper3 i{
    position: relative;
    top: 2px;
}
.white-sec{
    background-color: white;
    padding: 20px 0;
}
.hero{
    background-color: #494351;
    color: white;
    padding: 80px 0;
    border-top: 5px solid #dedede;
    text-align: center;
}
.hero .carousel-indicators li{
    border-radius: 100%;
    height: 10px;
    width: 10.2px;
    border: 3px solid white;
    background-color: transparent;
}
.hero .carousel-indicators li.active{
    background-color: #00adf0;
}
.hero .carousel-item button{
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    padding: 15px 10px;
    font-size: 19px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 60px;
}
.hero .carousel-item button:hover{
    cursor: pointer;
    background-color: transparent;
    border: 1px solid black;
    color: black;
    transition: 0,2s;
}
.hero .carousel-control .arrow{
    height: 40px;
    width: 40px;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    transform: rotate(45deg);
}
.hero .carousel-control-next .arrow{
    transform: rotate(225deg);
}
.color-blue{
    color: #01B0F1;
}
.color-green{
    color: #49BA8F;
}
.color-red{
    color: #DF6848;
}
.hero .carousel .carousel-item h1 {
    font-size: 70px;
    font-weight: normal;
    text-transform: uppercase;
    border-left: 2px solid white;
    border-right: 2px solid white;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 5px;
    padding: 0 5px;
    display: inline-block;
    line-height: 75%;
}


.hero .carousel .carousel-item p{
    width: 800px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 40px;
}
.section2{
    background-color: #60CAA2;
    padding: 100px 0;
    text-align: center;
    color: white;
    border-top: 10px solid transparent;
    border-image: url(pattern.png) 30 stretch;
}
.section2 h2{
    font-size: 40px;
}
.sec-wrap{
    color: white;
    text-align: center;
}
.outer-wrapper{
    background-image: url(pattern.png);
    padding: 30px;
    border-radius: 100%;
    display: inline-block;
}
.icon-wrapper{
    background-color: white;
    width: 150px;
    height: 150px;
    border-radius: 200px;
    color: black;
}
.icon-wrapper i{
    position: relative;
    top: 66px;
    font-size: 60px;
}
.section2 .wrapper p{
    padding-bottom: 25px;
}
.sec-wrap h3{
    margin-top: 20px;
}
.section3{
    background-color: #F29D89;
    padding: 100px 0;
    color: white;
    text-align: center;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-image: url(pattern.png) 30 stretch;
}
.btn-custom{
    background-color: transparent;
    color: black;
}
.btn{
    padding: 5px 25px;
    margin-bottom: 20px;
}
.custom-box{
    padding: 100px 0px;
}
.section3 .col-md-3{
    padding: 0;
}
.bg1{
    background-color: #CE8A7D;
}
.bg2{
    background-color: #E8B6AB;
}
.bg3{
    background-color: #F68368;
}
.bg4{
    background-color: #DBBEB8;
}
.section3 .wrapper{
    padding-bottom: 15px;
}
.btn-b{
    border-bottom: 3px solid darkgreen;
}
.btn-n{
    border-bottom: 3px solid darkgreen;
    margin-top: 40px;
}
.sec5{
    padding: 40px 0px;
    background-color: #FAD773;
    color: white;
}
.sec5 .carousel-control-prev-icon{
    position: relative;
    top: -152px;
    left: 455px;
}
.sec5 .carousel-control-next-icon{
    position: relative;
    top: -152px;
    right: 12px;
}
.k{
    font-weight: 700;
    margin: 0;
}
.ring{
    background-color: #FFCF4F;
    height: 150px;
    width: 150px;
    border-radius: 200px;
    border: 8px solid white;
    padding: 5px 70px;
    margin-bottom: 80px;
}
.c{
    color: #362f38;
}
.c h5{
    text-align: end;
    font-weight: 200;
}
.c h6{
    font-weight: 100;
    text-align: end;
    color: orange;
}
.sec5 h3{
    font-weight: 200;
}
.sec5 h5{
    color: #362f38;
}
.pad{
    padding-top: 20px;
}
.progress{
    background-color: black;
}
.sec6{
    padding: 8px 10%;
    background-color: #00ADF1;
    color: white;
    border-top: 10px solid transparent;
    border-image: url(pattern.png) 30 stretch;
}
.sec6 h2{
    position: relative;
    top: 12px;
}
.sec6a{
    position: relative;
    top: 20px;
}
.sec7{
    background-color: #313131;
    color: white;
    padding: 50px 10%;
}
.forma input,
.forma textarea{
    display: block;
    margin: 20px 0;
    width: 650px;
    padding: 10px 10px;
    text-align: left;
    background-color: darkgray;
    color: white;
}
.forma ::placeholder { 
    color: white;
    opacity: 1; 
    font-weight: 200;
    font-size: 14px;
  }
  .forma :-ms-input-placeholder { 
    color: white;
    font-weight: 200;
    font-size: 14px;
  }
  .forma ::-ms-input-placeholder { 
    color: white;
    font-weight: 200;
    font-size: 14px;
}
.forma textarea{
    height: 200px;
}
.btn-a{
    border-bottom: 4px solid rgb(76, 76, 231);
}
.ured i{
    padding-right: 10px;
}
.ured{
    padding: 3px 0;
}
.sec7 p{
    font-weight: 200;
}
.bg5{
    background-color: #152535;
    color: white;
}
.c-blue2{
    color: darkblue;
}
.bg6{
    background-color: #243547;
    color: white;
}
.forma2 input{
    display: block;
    width: 250px;
    padding: 4px;
    text-align: left;
    margin: 9px 0;
}
.forma2 button{
    position: relative;
    left: 120px;
    border-bottom: 4px solid rgb(40, 143, 40);
}
.wrap3{
    padding-bottom: 20px;
    width: 600px;
    padding-left: 50px;
    padding-right: 10px;
}
.wrap4{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 22px;
}
.wrap5{
    padding: 0 30px;
}
.custom-box2{
   padding: 15px 5px;
}
.wrap6{
    padding: 0 10px;
    position: relative;
    top: 12px;
}
.wrap6a{
    padding: 0 10px;
    position: relative;
    top: 8px;
}
.l{
    position: relative;
    top: 12px;
}
.bg7{
    background-color: #999999;
    height: 70px;
    border: 1px solid  #999999 ;
}
@media screen and (max-width: 2173px){
    .wrap4{
        padding-left: 300px;
    }
}
@media screen and (max-width: 1730px){
    .wrap4{
        padding-left: 150px;
    }
}
@media screen and (max-width: 1563px){
    .wrap4{
        padding-left: 50px;
    }
}
@media screen and (max-width: 1420px){
    .wrap4{
        padding-left: 20px;
    }
}
@media  screen and (max-width: 1260px) {
    .forma input,
    .forma textarea{
        width: 250px;
    }
}
@media screen and (max-width: 1084px){
    .hero .carousel .carousel-item h1{
        font-size: 50px;
    }
}
@media screen and (max-width: 788px){
    .hero .carousel .carousel-item h1{
        font-size: 40px;
    }
    .hero .carousel .carousel-item p{
        width: 500px;
    }
}
@media screen and (max-width: 530px){
    .hero .carousel .carousel-item h1{
        font-size: 25px;
    }
    .hero .carousel .carousel-item p{
        width: 200px;
    }
}